.heading_h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.mainPage__mainPicture {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.mainPage__mainPicture-img img {
    width: 609px;
}

.mainPage__mainPicture-text p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 70px;
}

.heading_mainPage-h2 {
    font-size: 45px;
}

.mainPage__carousel .heading_mainPage-h2 {
    margin-bottom: 70px;
}

.slider-item {
    height: 230px;
    margin-bottom: 70px;
}

.slider-item-wrapper {
    height: 200px;
    padding: 30px;
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.16);
}

.slider-item-txt {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400px;
    line-height: 22px;
}

.slider-item-img {
    margin-bottom: 20px;
}

.mainPage__secondaryPicture {
    margin: 70px 0px 108px 0px;
}

.mainPage__tariffs h2 {
    margin-bottom: 70px;
}

.tariffs-blockItem {
    width: 415px;
    height: 540px;
    border: solid 1px black;
    border-radius: 10px;
    margin-right: 37px;
    box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.16);
}


.tariffs-blockItem-wrapper {
    padding: 30px 15px 30px 30px;
}

.tariffs-blockItem-header_orange {
    background-color: #FFB64F;
}

.tariffs-blockItem-header .tariffs-blockItem-wrapper {
    display: flex;
}

.tariffs__heading {
    font-family: Inter;
    font-weight: 500;
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}

.tariffs__txt {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
}

.tariffs-blockItem-headerImg img {
    margin-top: -20px;
}

.heading_tariffs-h3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
}

.heading_tariffs-h3_disabled {
    font-size: 25px;
    text-decoration: line-through;
    opacity: 0.4;
    margin-left: 19px;
}

.tariffs-block {
    display: flex;
}

.tariffs-blockItem:last-child {
    margin-right: 0;
}