.header__content {
    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;

}

.header__nav-list-item a {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    font-family: inter;
}

.header__nav-list-item {
    margin-right: 49px;
}

.header__nav-list-item:last-child {
    margin-right: 0px;
}

.header__authorizedMenu {
    display: flex;
    align-items: center;
}

.hamburger-react {
    display: none;
}

@media (max-width: 1350px) {
    .header__nav {
        display: none;
    }

    .hamburger-react {
        display: block;
        z-index: 12;
    }

    .burger__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #029491;
        z-index: 1;
        align-items: center;
        justify-content: center;
        color: white;
        display: flex;
        flex-direction: column;
    }

    .burger__menu-list-item a {
        color: white;
        text-decoration: none;
    }

    .burger__menu-list-item {
        margin-bottom: 26px;
    }

    .burger__menu-ul {
        margin-bottom: 75px;
    }

    .burger__menu-sigh-in-txt {
        opacity: 0.3;
        margin-bottom: 20px;
    }

    .burger__menu-sigh-in-button {
        width: 295px;
        border: 0;
        background-color: #7CE3E1;
        color: black;
        padding: 10px 0;
        font-family: Inter;
        font-size: 20px;
        cursor: pointer;
    }

    .burger__menu-sigh-in {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}