.header__content {
    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;

}

.header__nav-list-item a {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    font-family: inter;
}

.header__nav-list-item {
    margin-right: 49px;
}

.header__nav-list-item:last-child {
    margin-right: 0px;
}

.header__authorizedMenu {
    display: flex;
    align-items: center;
}

@media (max-width: 1350px) {
    .header__nav {
        display: none;
    }

}